﻿@model max0505.ViewModel.BMIData


<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">
    <p>h: @Html.TextBoxFor(a=>a.Height)  @ViewBag.HeightError</p>
    <p>w:@Html.TextBoxFor(a => a.Weight) @ViewBag.HeightError</p>
    <p><input type="submit" name="name" value="送出" /></p>

</form>

<p>計算等級:@Model.Result</p>
<p>等級:@Model.Level</p>