﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p>姓名 :<input type="text" name="name" value="" /></p>
<p>account :<input type="text" name="name" value="" /></p>
<p>pass :<input type="password" name="name" value="" /></p>
<p>
    
<p>姓名 :<input type="radio name="gender" value="A" />
<p>
    姓名 :<input type="radio" name="gender" value="B" />
</p>
<p>
    hobby
    <input type="checkbox" name="h-1" value="A" />swimming
    <input type="checkbox" name="h-12 value="B" />reading
</p>
<p>
    about me:<textarea></textarea>
</p>